<!-- 视图欣赏 -->
	<section class="media">
		<% if(locals.media.title !== undefined){ %>
		<%- include('_title',title) %>
		<% } %>
 	    <ul class="media__list fixed">
 	    	<% for(var i=0; i<imgList.length; i++) {%>
 	    	<li class="media__item">
 	    		<a href="#" class="media__item--link">
 	    			<img class="media__item--bg" src="images/<%= imgList[i].path %>" alt="">
 	    			<span class="media__item--title"><%=imgList[i].title%></span>
 	    		</a>
 	    	</li>
 	    	<% } %>
 	    	<% for(var i=0; i<videoList.length; i++) {%>
 	    	<li class="media__item">
 	    		<a href="http://sj.video.5054399.com/sjyx/ceshi0505/xyce05005.mp4" class="media__item--link js-videoTrigger">
    				<img class="media__item--bg" src="images/<%= videoList[i].path %>" alt="">
 	    			<span class="media__item--title"><%=videoList[i].title%></span>
 	    		</a>
 	    	</li>
 	    	<% } %>
 	   	</ul>
	</section>