<!-- 宝宝站 -->
	<section class="pet">
		<% if(locals.pet.title !== undefined){ %>
		<%- include('_title',title) %>
		<% } %>
 	    <ul class="pet__wp fixed">
 	    	<% for(var i=0; i<petList.length; i++) {%>
 	    	<li class="pet__list--wp">
	    		<h3 class="pet__list--title"><%= petList[i].title%></h3>
	    		<ul class="pet__list fixed">
	    		<% nameList=petList[i].name %>
	    		<% for(var j=0; j<nameList.length; j++) {%>
	    			<li class="pet__item">
	    				<a class="pet__item--link" href="#">
		    				<img class="pet__logo" src="./images/<%=nameList[j].short%>.png" alt="<%=nameList[j].full%>" />
		 	    			<p class="pet__item--desc">
		 	    				<%=nameList[j].full%>
		 	    			</p>
 	    				</a>
	    			</li>
	    		<% } %>
	    		</ul>
 	    	</li>
 	    	<% } %>
 	   	</ul>
	</section>