<!doctype html>
<html>

<head>
    <%- include('./ejs/_head', head) %>
    <link rel="stylesheet" type="text/css" href="./lib/css/swiper-3.2.7.min.css">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>

	<%- include('./ejs/_banner', banner) %>

	<%- include('./ejs/_header') %>

	<%- include('./ejs/_activity', activity) %>

	<%- include('./ejs/_news', news) %>

	<%- include('./ejs/_media', media) %>

	<%- include('./ejs/_beauty', beauty) %>

	<%- include('./ejs/_pet', pet) %>

	<%- include('./ejs/_footer') %>

	<%- include('./ejs/_welfare') %>

	<%- include('./ejs/_video') %>

	<script src="./lib/js/zepto.1.1.4.min.js"></script>
	<script src="./lib/js/swiper-3.2.7.jquery.min.js"></script>
	<script src="./js/video.js"></script>
	<script src="./js/main.js"></script>
	<script src="./js/index.js"></script>

</body>

</html>