<!doctype html>
<html>

<head>
    <%- include('./ejs/_head', head)%>
    <link rel="stylesheet" type="text/css" href="./css/newsList.css">
</head>
<body>
	<%- include('./ejs/_banner', banner) %>

	<% if(locals.title !== undefined){ %>
	<%- include('./ejs/_title',title) %>
	<% } %>

	<ul class="newsList__nav fixed">
		<li class="newsList__navItem">
			<a class="newsList__navLink newsList__navLink--active" href="#">门派</a>
		</li>
		<li class="newsList__navItem">
			<a class="newsList__navLink" href="#">宠物</a>
		</li>
		<li class="newsList__navItem">
			<a class="newsList__navLink" href="#">进阶</a>
		</li>
		<li class="newsList__navItem">
			<a class="newsList__navLink" href="#">PK</a>
		</li>
		<li class="newsList__navItem">
			<a class="newsList__navLink" href="#">活动</a>
		</li>
	</ul>
    
	<%- include('./ejs/_news', news)%>

	<a class="newsList__more" href="javascript:void(0);">查看更多</a>

	<%- include('./ejs/_footer')%>

	<script src="./lib/js/zepto.1.1.4.min.js"></script>
	<script src="./js/main.js"></script>
</body>

</html>