<!doctype html>
<html>

<head>
    <%- include('./ejs/_head', head)%>
    <link rel="stylesheet" type="text/css" href="./css/xuanmei.css">
</head>
<body>
	<%- include('./ejs/_banner', banner) %>

	<div class="title fixed">
		<a href="#" class="title__back">返回</a>
	    <h3 class="title__content">选美活动</h3>
	</div>

	<div class="beauty">

		<div class="beauty__activity">
			<img src="./images/activity__1.png" alt="">
		</div>
		
		<ul class="beauty__list fixed">
	 	<% for(var i=0; i<imgList.length; i++) {%>
	 	<li class="beauty__item">
	 		<a href="#" class="beauty__item--link">
	 			<img class="beauty__item--bg" src="images/<%= imgList[i].path%>" alt="">
	 			<div class="beauty__item--desc">
	 				<p>昵称：<%=imgList[i].nickname%></p>
	 				<p>区服：<%=imgList[i].district%></p>
	 			</div>
	 		</a>
	 	</li>
	 	<% } %>
		</ul>

		<div class="beauty__pagination fixed">
			<a class="beauty__btn" href="#">
				<img src="./images/picView__prev.png" alt="">
				<i>上一张</i>
			</a>
			<span class="beauty__page">01/20</span>
			<a class="beauty__btn" href="#">
				<i>下一张</i>
				<img src="./images/picView__next.png" alt="">
			</a>
		</div>

	</div>

	<%- include('./ejs/_footer')%>

	<script src="./lib/js/zepto.1.1.4.min.js"></script>
	<script src="./js/main.js"></script>
</body>

</html>